<!doctype html>
<html>
<head>
	<title>Socket.IO chat</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script src="/javascripts/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/javascripts/main.js"></script>
</head>
<body>
<div class="room">
	<div class="chatbox">
		<div id="typingmessage"></div>
		<div class="chatbox-inner">
			<h1 class="header"><%= title %></h1>
			<div class="messages">
				<ul id="messages"></ul>
			</div>
			<form action="">
				<input id="m" autocomplete="off" /><button>Send</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>