<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script src="/javascripts/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		$(document).ready(function() {

		});
	</script>
</head>
<body>
	<h1><%= title %></h1>
	<%
		for(var i = 0; i < rooms.length; i++) {
			var room = rooms[i];
			%>
				<li>
					<a href="./<%= room.Link %>" target="_blank"><%- room.Text %></a>
				</li>
			<%
		}
	%>
</body>
</html>